*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.contenedor{
    display:flex ;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    width: 800px;
    height: 600px;
}

.contenedor .about img {
    width: 400px;
    height: 300px;

}



.contenedor .ps h1{
    font-size: 25px;
    font-family: 'Puppins', sans-serif;
    font-weight: bold;
    margin-top: -125px;
}

.contenedor .ps p{
    font-size: 12px;
    font-family: 'DM Sans', sans-serif;
}

.rs{
    display:flex ;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
    width: 800px;
    height: 600px;
    margin-top: -175px;
}

.rs .about img{
    width: 400px;
    height: 300px;
}

.rs .pr .h1 {
    margin-left: 10px;
    font-family: 'Puppins', sans-serif;
    font-weight:bold;
    font-size: 25px;
    margin-top: -100px;
}

.rs .pr .p2 {
    margin-left: 15px; 
    font-family: 'DM Sans' sans-serif;
    font-size: 12px;
   
}

footer {
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer img{
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: 20px;
}